.App {
  display: flex;
  width: 100%;
  text-align: center;
  overflow: scroll;
  margin-top: -80px;
}
.gutter {
  background-color: #ff0000;
  width: 25px;
}

.header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.body {
  min-height: 100vh;
}

.link {
  color: #b318f0;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
